<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <style> 
  
</style>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

<%= render "layouts/nav_bar" %>
<%= render "layouts/carousel_images" %>

<center>
<button type="button" class="btn btn-primary btn-lg" style="color: white; border: 2px solid white; background-color:#5c3971">Mood Food</button>

<row>
  <br>
    <p></p>
</row>



<div class="row" style="margin:15px">
<div class="column">
<div class="card" style="width: 18rem; border: 4px solid #5c3971">
<img src="/lasange.webp" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Classic Lasagne</h5>
<p class="card-text">Kids will love to help assemble this easiest ever pasta bake with streaky bacon, beef mince, a crème fraîche sauce and gooey mozzarella </p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item">An item</li>
<li class="list-group-item">A second item</li>
<li class="list-group-item">A third item</li>
</ul>
<div class="card-body">
<a href="#" class="card-link">Recipe</a>
</div>
</div>
</div>

<div class="column">
<p> "               " </p>
</div>

<div class="column">
<div class="card" style="width: 18rem; border: 4px solid #5c3971">
<img src="/chicken.webp" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Chicken Fajitas</h5>
<p class="card-text">Need a simple, vibrant midweek meal the family will love? Put together these easy chicken fajitas and people can create their own masterpieces at the table</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item">An item</li>
<li class="list-group-item">A second item</li>
<li class="list-group-item">A third item</li>
</ul>
<div class="card-body">
<a href="#" class="card-link">Recipe</a>
</div>
</div>
</div>

<div class="column">
<p> "               " </p>
</div>

<div class="column">
<div class="card" style="width: 18rem; border: 4px solid #5c3971">
<img src="/curry.webp" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Chicken Curry</h5>
<p class="card-text">This easy staple chicken curry is a fantastic recipe for family dinners. It's made with just a handful of ingredients and is enriched with creamy yogurt</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item">An item</li>
<li class="list-group-item">A second item</li>
<li class="list-group-item">A third item</li>
</ul>
<div class="card-body">
<a href="#" class="card-link">Recipe</a>
</div>
</div>
</div>









</div>
</center>


</html>

