<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   </head>

  <body>
  <%= render "layouts/nav_bar" %>
    
  <div class="card-body" >
  <% @meat_list.each do |dish| %>
  <hr>  
  <h2 class="card-title"><%= dish.name %></h2>
    <p class="card-text"><%= dish.ingredients %></p>
    <% end %>
  </div>

<%= render "layouts/social_media" %>

   </body>
</html>

