<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    </head>
  <body>


  <%= render "layouts/nav_bar" %>
    
    <div  class="container ">
      <div class ="row offset-2">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 100rem;">
          <div class="card-body ">
        <h3> Team Snails On Rails</h3>
          <p>Rebecca Randsome, Richard Lawrence, Neneh Bojang </p>
          <p>
            “Having studied IT in school I always had a love for computers and programming.
            I found it fun, thoughtful and I loved the problem solving that came with getting errors and fixing them. 
            During school I got a part time job within hospitality that then led to being full time, and gradually making my way up the hospitality ranks to running my own store. 
            During my time as a store manager the first coronavirus lockdown happened, and this gave me a lot of spare time (due to all of hospitality being closed down) to think and reflect on my career and what I want in life. 
            This self reflection led me to apply to the open university to study IT and computing again, part time at degree level. 
            Whilst I loved my job, studying again quickly reignited the passion I had for computers and coding back in school."
          </p>
          <p>
            “My interest in computing started in secondary school. 
            A family friend introduced me to music production, which led to him teaching me how computers work, and how to strip and build a computer. 
            I continued music production into college, and was interested in studying it at university, but circumstances changed and I chose an alternative route. 
            I spent many years gaining valuable working life experience in a varierty of industries with plans to start up my own business. 
            An opportunity came up within the company I currently work for, which had the creative similaralities to the time spent in the past producing music. I then decided to reasearch coding, and that was it, I took the opportunity with both hands. 
            Now Im on my way to becoming a qualified software engineer!”
          </p>
          <p>
            "My interest for software development stemmed from my love for puzzle solving. 
            As I see software development like a puzzle  because there are different ways of solving a problem, this enables me to challenge myself as well as learn new ways of doing things. 
            Throughout the years working in different sectors, there has always been this void in me that just wants to code however I just have not been fortunate with an opportunity to learn and fulfil this void. 
            In attempts to fulfil this desire I started taking coding courses on Freecodecamp, Udemy, Codecademy and YouTube to start the journey and to further enhance my development, I enrolled onto Udacity’s fronted-end nanodegree program. 
            Currently embarking on an apprenticeship at Makers.""
          </p>
          </div>
        </div>
          
      </div>
    </div>
  </body>
</html>