<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#5C3971; color:white; font-size:20px;">
    <a class="navbar-brand" href="/food">
    <img src="/logo.png" width="200" height="80"  align="left">
    </a>  
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
    <li>
      <a class="nav-item nav-link active" href="/food">Home <span class="sr-only">(current)</span></a> </li>
      <li><a class="nav-item nav-link active" href="#">About Us</a></li>
     <li> <a class="nav-item nav-link active" href="#menu">Menus</a></li>
     <li> <a class="nav-item nav-link active" href="/food/meat">Random Food Generator</a></li>
      
  </ul>
    <form class="form-inline my-2 my-lg-0 mx-auto">
        <%= form_tag "/users", method: "GET" do %>
        <div style="color:white;"> Search for recipe
            <%= text_field_tag :search_by_recipe, params[:search_by_recipe] %>
            <button class="btn btn-outline-success" type="submit" style="color: white">Search</button>
        </div>
        <% end %>
    </form>
</nav>


<div class="container-fluid" style="background-color:white; color:black; font-size:20px; ">
    
    <a href="login">Login</a> |
    <a href="/users/new">Register</a>  
    <br>
</div>
   
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>