<div class="card-footer" style="background-color:#5C3971; font-size:40px; color:white; padding:10px;">
  <i class="fa fa-facebook" aria-hidden="true"></i> 
  <i class="fa fa-twitter" aria-hidden="true"></i>
  <i class="fa fa-instagram" aria-hidden="true"></i>
  <i class="fa fa-envelope" aria-hidden="true"></i>
  </div>